body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgray;
}

.text-center {
    text-align: center;
}

.red {
    background-color: #900;
}

.blue {
    background-color: #1b3d89;
}

.violet {
    background-color: #5a109f;
}

.green {
    background-color: #18b430;
}


header {
    background-color: #ff6825;
    text-align: center;
    height: 150px;
    padding: 8% 0;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

h2 {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: Cambria, serif;
}

header h2 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    margin: 1.2rem;
    text-decoration: none;
}

.half {
    width: 47%;
    float: left;
    padding: 1.5%;
}

.right-block {
    float: right;
    padding: 15px;
    margin-left: 10px;
}

.video {
    background-color: #e02f2f;
    width: 20px;
    height: 20px;
    padding: 10px 15px 10px 28px;
    border-radius: 10px/14px;
    cursor: pointer;
}

.play {
    border: 10px solid transparent;
    border-left-color: white;
}

.container {
    max-width: 1200px;
    width: 90%;
    min-width: 768px;
    margin: auto;
}

.container::before,
.container::after {
    content: "";
    display: table;
}

.container::after {
    clear: both
}

.course {
    width: 17%; /* 20% — 1.5%*2 */
    float: left;
    padding: 1.5%;
    margin-bottom: 20px;
}
.price {
    text-align: right;
    font-weight: bold;
}

.price:before {
    content: '$';
}
.top {
    border: 3px double #666;
    border-top-right-radius: 20px;
    background-color: #ff6825;
    color: #fff;
    text-align: center;
    min-height: 100px;
    padding: 15px;
    font-family: Cambria, serif;
}
.promo {
    width: 70%;
    background-color: #ffce00;
    text-align: left;
    text-transform: uppercase;
    border-radius: 0 15px 15px 0;
    color: #222;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
    margin-left: -15px;
    margin-top: -5px;
}
footer {
    background-color: #ccc;
    border-top: 2px solid #666;
}

.footer-bottom {
    background-color: #111;
    color: #fff;
    border-top: 2px solid #666;
}
.col {
    width: 30.33%;
    padding: 1.5%;
    float: left;
}
ul.unstyled {
    list-style-type: none;
    padding: 0;
    line-height: 170%;
}
.text-right {
    text-align: right;
}

